script(src='javascript/Chart.js-master/Chart.js')

html
  head
    title title
    link(rel='stylesheet', type='text/css', href='/stylesheets/abgtproject.css', media='screen')
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
  body(leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
    // Save for Web Slices (abgtProject.psd)
    table#Table_01(width='1025', height='769', border='0', align='center', cellpadding='0', cellspacing='0')
      tr
        td(colspan='14')
          img(src='images/abgtProject_01.gif', width='1024', height='8', alt='')
        td
          img(src='images/spacer.gif', width='1', height='8', alt='')
      tr
        td(rowspan='15')
          img(src='images/abgtProject_02.gif', width='8', height='760', alt='')
        td(colspan='7')
          img(src='images/abgtProject_03.gif', width='347', height='134', alt='')
        td(colspan='3')
          img(src='images/logoSlice.jpg', width='315', height='134', alt='')
        td(colspan='2')
          img(src='images/abgtProject_05.gif', width='346', height='134', alt='')
        td(rowspan='15')
          img(src='images/abgtProject_06.gif', width='8', height='760', alt='')
        td
          img(src='images/spacer.gif', width='1', height='134', alt='')
      tr
        td(colspan='12')
          img(src='images/abgtProject_07.gif', width='1008', height='8', alt='')
        td
          img(src='images/spacer.gif', width='1', height='8', alt='')
      tr
        td(colspan='3')
          img(src='images/abgtProject_08.gif', width='203', height='12', alt='')
        td(rowspan='13')
          img(src='images/abgtProject_09.gif', width='5', height='618', alt='')
        td(colspan='8', rowspan='2')
          img(src='images/abgtProject_10.gif', width='800', height='45', alt='')
        td
          img(src='images/spacer.gif', width='1', height='12', alt='')
      tr
        td(rowspan='11')
          img(src='images/abgtProject_11.gif', width='15', height='598', alt='')
        td(rowspan='2')
          img(src='images/abgtProject_12.gif', width='172', height='153', alt='')
        td(rowspan='11')
          img(src='images/abgtProject_13.gif', width='16', height='598', alt='')
        td
          img(src='images/spacer.gif', width='1', height='33', alt='')
      tr
        td(colspan='2', rowspan='4')
          img(src='images/abgtProject_14.gif', width='83', height='337', alt='')
        td(colspan='3', rowspan='3', bgcolor='#3E3E3E')
          canvas#myChart(width='287', height='287')
          script(src='javascript/abgtchart.js')

        td(colspan='3', rowspan='3', bgcolor='#3E3E3E')
          div.chartLegend
            ul
              li.artist1  Above & Beyond
              li.artist2  Mat Zo
              li.artist3  Ilan Bluestone
              li.artist4  Deadmau5
        td
          img(src='images/spacer.gif', width='1', height='120', alt='')
      tr
        td
          img(src='images/abgtProject_17.gif', width='172', height='63', alt='')
        td
          img(src='images/spacer.gif', width='1', height='63', alt='')
      tr
        td(rowspan='7')
          img(src='images/leftBoundContent.gif', width='172', height='360', alt='')
        td
          img(src='images/spacer.gif', width='1', height='104', alt='')
      tr
        td(colspan='6')
          img(src='images/abgtProject_19.gif', width='717', height='50', alt='')
        td
          img(src='images/spacer.gif', width='1', height='50', alt='')
      tr
        td(colspan='8')
          img(src='images/abgtProject_20.gif', width='800', height='15', alt='')
        td
          img(src='images/spacer.gif', width='1', height='15', alt='')
      tr
        td(colspan='4')
          img(src='images/lowerSmallContent.gif', width='243', height='27', alt='')
        td(colspan='4')
          img(src='images/abgtProject_22.gif', width='557', height='27', alt='')
        td
          img(src='images/spacer.gif', width='1', height='27', alt='')
      tr
        td(rowspan='2')
          img(src='images/abgtProject_23.gif', width='14', height='156', alt='')
        td(colspan='6')
          img(src='images/lowerContent.gif', width='766', height='144', alt='')
        td(rowspan='2')
          img(src='images/abgtProject_25.gif', width='20', height='156', alt='')
        td
          img(src='images/spacer.gif', width='1', height='144', alt='')
      tr
        td(colspan='6')
          img(src='images/abgtProject_26.gif', width='766', height='12', alt='')
        td
          img(src='images/spacer.gif', width='1', height='12', alt='')
      tr
        td(colspan='8')
          img(src='images/abgtProject_27.gif', width='800', height='8', alt='')
        td
          img(src='images/spacer.gif', width='1', height='8', alt='')
      tr
        td
          img(src='images/abgtProject_28.gif', width='172', height='22', alt='')
        td(colspan='8')
          img(src='images/bottomSlice.jpg', width='800', height='22', alt='')
        td
          img(src='images/spacer.gif', width='1', height='22', alt='')
      tr
        td(colspan='3')
          img(src='images/abgtProject_30.gif', width='203', height='8', alt='')
        td(colspan='8')
          img(src='images/abgtProject_31.gif', width='800', height='8', alt='')
        td
          img(src='images/spacer.gif', width='1', height='8', alt='')
      tr
        td
          img(src='images/spacer.gif', width='8', height='1', alt='')
        td
          img(src='images/spacer.gif', width='15', height='1', alt='')
        td
          img(src='images/spacer.gif', width='172', height='1', alt='')
        td
          img(src='images/spacer.gif', width='16', height='1', alt='')
        td
          img(src='images/spacer.gif', width='5', height='1', alt='')
        td
          img(src='images/spacer.gif', width='14', height='1', alt='')
        td
          img(src='images/spacer.gif', width='69', height='1', alt='')
        td
          img(src='images/spacer.gif', width='56', height='1', alt='')
        td
          img(src='images/spacer.gif', width='104', height='1', alt='')
        td
          img(src='images/spacer.gif', width='127', height='1', alt='')
        td
          img(src='images/spacer.gif', width='84', height='1', alt='')
        td
          img(src='images/spacer.gif', width='326', height='1', alt='')
        td
          img(src='images/spacer.gif', width='20', height='1', alt='')
        td
          img(src='images/spacer.gif', width='8', height='1', alt='')
        td
    // End Save for Web Slices

