extends layout
block content
    h1= title
    #articles
        - each article in articles
          div.article
            div.title 
                a(href="/episode/"+article._id)!= article.title
    form( method="post" action="/")
        div
            div
                span Episode Number :
                input(type="text" name="newEpisode", id="newEpisode")
            div#refreshArticlesSubmit
                input(type="submit", value="Send")