extends layout
block content
    h1= title
    #articles
        - each article in articles
          div.article
            div.title 
                a(href="/episode/"+article._id)!= "Episode " + article.title