@charset "utf-8";
/* graphTherapy_v2 CSS */

html {
	background: url(../images/background_pattern.jpg) no-repeat center top scroll;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: 1920px 1080px;
}

body {
	
	margin-top:0px;
}

#tableBack{
	background-image:url('../images/graphTherapy_v2_15.jpg');
}

#dataTable{
	font-family:Century Gothic;
	font-size:12px;
	table-layout:auto;
	border-collapse:collapse;
	text-align:left;
	width:100%;
}
#dataTable th{
	padding: 9px 8px 8px;
}
#dataTable td{
	padding: 9px 8px 8px;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
}
#tableWrapper{
	overflow:auto;
	height:194px;
	width:980px;
}

a{
	color: inherit;
	text-decoration: inherit;
}

#dataTable tbody tr:hover  td{
	color: #BAF9FA;
}

#bodyWrapper{
	display: block;
	width:910;
	height:220;
	background:#252525;
	padding-top: 20px;
}

#copyright{
	width:1024;
	height:27;
	font-size:8px;
	font-family:Century Gothic;
	margin-top: 3px;
}

#copyrightText{
	margin-top:8px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	text-align:center;
	color: #FFFFFF;
}

#pictureWrapper{
	border: 1px solid #FFFFFF;
	display: inline-block;
}

#dateFromNow{
	font-size: 9px;
}

.chart rect {
	fill: #BAF9FA;
	stroke: #252525;
}

.animate.ng-enter, 
.animate.ng-leave, 
.animate.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.animate.ng-enter {
  left:-10px;
  opacity:0;
}
.animate.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.animate.ng-leave {
  left:0;
  opacity:1;
}
.animate.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.animate.ng-move {
  opacity:0.5;
  top: 0px;
}
.animate.ng-move.ng-move-active {
  opacity:1;
  top: 20px;
}