@charset "utf-8";
/* graphTherapy_v2 CSS */

body {
	background-color: #000;
	margin-top:0px;
}

#tableBack{
	background-image:url('../images/graphTherapy_v2_15.jpg');
}

#dataTable{
	font-family:Century Gothic;
	font-size:12px;
	table-layout:auto;
	border-collapse:collapse;
	text-align:left;
	width:100%;
}
#dataTable th{
	padding: 9px 8px 8px;
}
#dataTable td{
	padding: 9px 8px 8px;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
}
#tableWrapper{
	overflow:auto;
	height:194px;
	width:980px;
}

a{
	color: inherit;
	text-decoration: inherit;
}

#dataTable tbody tr:hover  td{
	color: #BAF9FA;
}

#bodyWrapper{
	width:910;
	height:266;
	background:#252525;
}

#copyright{
	width:1024;
	height:27;
	font-size:8px;
	background:#252525;
	color:#FFFFFF;
	font-family:Century Gothic;
	margin-top: -2px;
}

#copyrightText{
	margin-top:2px;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
	text-align:center;
}